# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# pycharm
.idea




# Distribution / packaging
.Python build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# migrations
migrations/
!migrations/__init__.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# Python #
*.py[cod]
*$py.class





